button:hover {
    color: #FF00BF;
}

footer {
    background-color: #334477;
}


/*
Titulos Form : #352384
texto form: #728099
gradiente morado: #76278f , #2B1E66*/


/*NAVBAR*/

.flex-container {
    display: flex;
}

.text-uppercase {
    text-transform: uppercase;
}

#navigation {
    z-index: 21;
    position: fixed;
    width: 100%;
}

#navigation.flex-container {
    justify-content: flex-end;
    align-items: center;
    background-color: #282042;
}

#navigation img {
    width: 70px;
    margin-right: auto;
    margin-left: 20px;
}

#navigation a {
    padding: 20px;
    text-decoration: none;
    color: white;
}

button,
.login,
.sign-up {
    background-color: rebeccapurple;
    border: 1px solid currentColor;
    border-color: #d8dce6;
    white-space: nowrap;
    color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
    padding-top: .5rem;
    cursor: pointer;
    font-weight: 300;
    border-radius: .5rem;
    font-size: 16px;
}

button.sign-up {
    /*display: none;*/
}


/*HEADER*/

header {
    height: 100vh;
    background-image: url(https://cdn.lyft.com/brochure/homepage-hero-poster.8ec795d5.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
}

header .white-box {
    background-color: white;
    position: absolute;
    right: 0;
    top: 16%;
    box-sizing: border-box;
    padding: 40px 60px 50px 40px;
}

header .white-box h2 {
    text-transform: uppercase;
    font-weight: bold;
    color: #352384;
    font-size: 1.8em;
}

header .white-box h3 {
    text-transform: uppercase;
    font-weight: 300;
    color: #352384;
    font-size: 1em;
}

header .white-box .btn-big {
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    color: white;
}

.btn-big {
    display: inline-block;
    background-color: #ff00bf;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 13px;
    padding: 2px;
    width: 139px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    overflow: visible;
    border-style: solid;
    border-color: transparent;
}

form input {
    border-top: 10px;
    border-right: none;
    border-left: none;
    width: 100%;
    border-color: #352384;
    color: #bfc7d9;
    font-size: 17px;
    font-weight: 200;
}

.text span {
    color: #ff00bf;
    text-decoration: none;
}

span:hover {
    color: purple;
    text-decoration: underline;
}

.text {
    color: #728099;
    font-size: 9px;
}


/*FORMULARIO*/

.hide-form {
    display: none;
}

#formulario input {
    margin: 20px 0px 20px 0px;
    border: 0px;
    border-bottom: 1px solid black;
    font-size: 20px;
    color: #bfc7d9;
}


/*INFORMATION*/

.information,
.ride,
.safety,
.drivers {
    padding-left: 33px;
    color: white;
}

.information {
    background-image: -moz-linear-gradient(top, #76278f, #2B1E66);
}

.logo {
    background-image: url(../images/phone.png);
    background-position: right;
    background-repeat: no-repeat;
    height: 426px;
    background-size: 500px 430px;
}


/*SECCION 3*/

#video {
    display: block;
    margin: 0;
}

#first-video {
    background-color: white;
}

.texto {
    display: inline-block;
    width: 15%;
    margin-top: 8%;
    margin-right: 14%;
    margin-left: 5%;
}

.texto {
    justify-content: flex-start;
}


/*
.right {
    float: right;
}*/

.video-height {
    width: 65%;
    display: inline-block;
}

.video-height img {
    width: 100%;
}

.video-height iframe {
    width: 100%;
    height: 506px;
}

.texto {
    margin-top: 25%;
}

.parrafos {
    font-size: 17px;
    width: 145%;
}

.texto p:first-child {
    letter-spacing: 0.2em;
}

.texto h3 {
    font-size: 25px;
    letter-spacing: 0.2em;
}


/*FOOTER*/

footer {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-color: #333447;
    font-size: 13px;
}

#services.flex-column {
    justify-content: space-around;
    flex-wrap: wrap;
}

.column {
    float: left;
    margin: 30px 0px 0px 0px;
    width: calc((100%-1%)/5);
}

.column li {
    display: block;
    color: white;
}

.column li a {
    color: white;
    text-decoration: none;
}

.column li a:hover {
    color: #FF00BF;
    text-decoration: underline;
}

.column li img {
    width: 167px;
    height: 50px;
}

.social-media {
    clear: both;
    width: 34%;
    margin: 0 auto;
}

.social-media a {
    text-decoration: none;
    cursor: pointer;
}

.social-media a img {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 65px;
}

.social-media hr {
    display: block;
    margin-top: 40px;
    margin-bottom: 10px;
    clear: both;
}

.legacy {
    color: white;
    font-size: 0.9em;
    width: calc((100%-40%)/1.5);
}

.legacy li {
    display: inline-block;
    margin-left: 15px;
}

.legacy li a {
    text-decoration: none;
    color: white;
    font-size: 0.9em;
}

.legacy li a:hover {
    color: #FF00BF;
    text-decoration: underline;
}